@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .slider-container {
    overflow: hidden;
    width: 100%;
  }
  
  .scroll-slide {
    display: flex;
    width:400%; /* Because we're duplicating the content */
    animation: scroll-left 20s linear infinite;
    gap: 2rem;
  }
  .scroll-slide:hover {
    animation-play-state: paused;
  }
  
  